API_BASE_ENDPOINT=https://demo-api.authento.io/v1
AUTHENTO_API_KEY=
AUTHENTO_API_SECRET=
AUTHENTO_JWT_SECRET=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

NEXT_PUBLIC_AUTHENTO_URL=https://demo-app.authento.io
NEXT_PUBLIC_DOMAIN_NAME=
NEXT_PUBLIC_MESSAGE_TEXT=Sign this message to prove your ownership of this address and proceed with the identity verification process.